FramegEntry(
    name: "Test for YOU",
    has_multi_story: false,
    screen: Screen(
        widget: {
            "main_menu": [
                Slider(
                    pos: (200, 300),
                    scale: (200, 100),
                    max: 100,
                    min: 0,
                    value: 50,
                    id: "slider"
                )
            ]
        }
    )
)